<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Notology</title>
  <!--semantic ui cdn-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <!--stylesheets-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>

  <div class="ui secondary menu">
    <div class="header item">
      <i class="expand icon"></i><a href="/notes">Notology</a>
    </div>
    <a class="item" href="/notes/new">Create Note</a>
    <div class="right menu">
    </div>
  </div>
