<% include partials/top %>

    <div class="ui text container huge header">Edit Note</div>
    <div class="ui text container">
      <form class="ui form" action="/notes/<%=note._id%>?_method=PUT" method="POST">
        <div class="field">
          <label>Title</label>
          <input type="text" name="note[title]" value="<%=note.title%>">
        </div>
        <div class="field">
          <label>Content</label>
          <textarea name="note[content]"><%=note.content%></textarea>
        </div>
        <button class="ui button" type="submit">Submit</button>
      </form>
    </div>

<% include partials/bottom %>
